/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*===============================================
                GERAL
=================================================*/
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:#78c6f7;;
    color: #ffffff;
    line-height: 1.6;
}

/*======================================
				Header
======================================*/
header {
    background-color:  #5DADE2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 45px;
    opacity: 80%;
    padding: 10vw;
}

/* Estilo do header */
header.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

header img.logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

/* Estilo da navegação */
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    margin: 0 6vw 0 0;
}

header nav ul li a:hover {
    color: #ddd;
}

/* Estilo inicial do link */
.animated-link {
    color: #ffffff;
    /* Tom de azul claro */
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    /* Animação para cor e tamanho */
}

/* Efeito ao passar o mouse */
.animated-link:hover {
    color: #ffffff;
    /* Muda para um tom de azul mais escuro ao passar o mouse */
    transform: scale(1.1);
    /* Aumenta o tamanho */
}

/* Efeito de sublinhado animado */
.animated-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    /* Azul escuro para o sublinhado */
    transition: width 0.3s;
    /* Animação para o sublinhado */
}

/* Ao passar o mouse, o sublinhado se expande */
.animated-link:hover::after {
    width: 100%;
    /* Expande o sublinhado do link */
}

/* Efeito ao clicar */
.animated-link:active {
    color: #1F618D;
    /* Muda para um azul mais escuro ao clicar */
}
.menu-toggle {
    display: none; /* Inicialmente, escondido */
    font-size: 2.5rem; /* Tamanho do ícone do menu */
    color: white; /* Cor do ícone */
    cursor: pointer;
    padding: 10px; /* Tamanho da área clicável */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remove qualquer borda */
    z-index: 1001; /* Garante que o botão fique acima de outros elementos */
    transition: transform 0.3s, background-color 0.3s ease; /* Animação de transformação e cor */
}

/* Animação de hover para o botão de menu */
.menu-toggle:hover {
    transform: scale(1.2); /* Aumenta o tamanho do botão ao passar o mouse */
    background-color: rgba(0, 0, 0, 0.3); /* Fundo levemente escuro */
    border-radius: 5px; /* Torna os cantos do botão arredondados */
}
/*=======================================
				Main
=======================================*/
/* Estilos da seção principal */
main {
    padding: 40px;
    background-color: #fff1e2;
    /* Fundo branco */
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    
}

main h1,
h2 {
    color: #337ac2;
    font-weight: bolder;
    /* Azul Médio */
    margin-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

main a {
    color: #1a2a6c;
    /* Azul Escuro */
    text-decoration: underline;
}

main a:hover {
    color: #78c6f7;
    /* Azul Claro */
}

section.funcaoprimaria h1 {
    text-align: center;
    margin: 8vw 0 5vw 0;
    font-size: 2rem;
}

section.funcaoprimaria div.agua {
    display: flex;
    justify-content: center;
}

section.funcaoprimaria div.aguatexto {
    width: 50%;
    background-color: #78c6f7;
    /* Fundo branco */
    margin: 1vw;
    padding: 2vw 2vw 0 2vw;
    border-radius: 12px;
    text-align: center;
 
}

section.funcaoprimaria div.aguatexto h2 {
    font-size: 1.2rem;
}

section.funcaosecundaria ul {
    margin: 0 5vw 0 5vw;
}

section.funcaosecundaria ul li {
    background: linear-gradient(to right, #2a83be, #5DADE2);
    border-radius: 20px;
    padding: 1.2vw;
    margin: 2vw 1vw 0 1vw;
    font-size: 1.2rem;
}

section.funcaosecundaria ul li span {
    font-size: 1.3rem;
    font-weight: bold;
}

section.funcaosecundaria h2 {
    font-size: 1.8rem;
    margin: 4vw 0 4vw 0;
    text-align: center;
}

section.Recomendacoes {
    margin: 6vw 0 8vw 0;
}

section.Recomendacoes h2 {
    margin: 2vw 0 3vw 0;
    font-size: 2rem;
}

section.Recomendacoes div.consumo {
    display: flex;
    justify-content: center;
    background: #78c6f7;
    margin: 1vw;
    padding: 3vw;
    border-radius: 12px;
    
}

section.Recomendacoes div.textorec p {
    margin: 0 7vw 0 0;
}

section.Recomendacoes div.consumo div p img {
    margin: 3vw 0 0 2vw;
}

section.calc h1 {
    font-size: 2rem;
    margin: 3vw;
}

section.calc input {
    background-color: #78c6f7;
    border: none;
    border-radius: 30px;
    padding: 1rem;
    font-weight: bold;
    margin: 2vw;
    color: #ffffff;
    text-align: center;
}

section.calc button {
    background-color: #1e90ff;
    border-radius: 30px;
    border: none;
    padding: 1rem;
    margin: 2vw;
    font-weight: bold;
}

section.calc {
    text-align: center;
    background-color: #78c6f7;
    ;
    border-radius: 20px;
    padding: 2vw;
    

}

/* ====================================
				Footer
=====================================*/
footer {
    background-color: #78c6f7;
    color: white;
    padding: 2vw;
}

footer p {
    margin-bottom: 10px;
}

footer nav ul {
    display: flex;
    list-style: none;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #ddd;
}

/*=======================
        responsividade
=======================*/
@media (max-width: 768px) {
    /* Mostrar o botão de menu */
    .menu-toggle {
        display: block; /* Torna o botão visível */
    }
    
    /* Garantir que o ícone do menu esteja visível e centralizado */
    header.home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
    }

    /* Garantir que o botão do menu tenha tamanho adequado */
    .menu-toggle {
        font-size: 2.5rem; /* Ajuste o tamanho do ícone */
        color: white;
        cursor: pointer;
        padding: 15px; /* Aumenta o tamanho da área clicável */
        border-radius: 50%; /* Torna o botão redondo */
    }
    /* Alterar a visibilidade do menu quando estiver aberto */
    header nav {
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        margin: 10px 0;
    }
    header.home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
    }

    /* Ajuste no tamanho da logo */
    header img.logo {
        width: 60px;
        height: auto;
    }

    .menu-open nav {
        display: flex;
    }

    header nav ul li a {
        display: inline-block;
        padding: 10px 15px;
        font-size: 1.4rem;
        color: white;
    }
    main {
        padding: 20px;
        margin: 10px;
        max-width: 100%;
        border-radius: 5px;
    }
    
    main h1, h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    main p {
        font-size: 1rem;
        text-align: justify;
    }
    
    section.funcaoprimaria div.agua {
        flex-direction: column;
        align-items: center;
    }
    
    section.funcaoprimaria div.aguatexto {
        width: 90%;
        padding: 5vw;
    }
    
    section.funcaosecundaria ul li {
        font-size: 1rem;
        padding: 2vw;
    }
    
    section.Recomendacoes div.consumo {
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }
    footer {
        text-align: center;
        padding: 6vw;
        margin-top: auto;
        background-color: #78c6f7;
    }
    
    footer nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    footer nav ul li {
        margin: 15px 0;
    }
    
    footer nav ul li a {
        font-size: 1.3rem;
    }
    
    footer p {
        margin-top: 10px;
        font-size: 1rem;
    }
}
