/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*===============================================
                GERAL
=================================================*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Poppins', sans-serif;;
    background-color: #f7efda;
    color: #ffffff;
    line-height: 1.6;
}
/*================================================
                   Header
=================================================*/

header {
    background-color: #90c44d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 45px;
    opacity: 80%;
}
/* Estilo do header */
header.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

header img.logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

/* Estilo da navegação */
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    margin: 0 6vw 0 0;
}

header nav ul li a:hover {
    color: #ddd;
}

/* Estilo inicial do link */
.animated-link {
    color: #1f850b;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s; /* Animação para cor e tamanho */
}

/* Efeito ao passar o mouse */
.animated-link:hover {
    color: #5add40; /* Muda a cor do link */
    transform: scale(1.1); /* Aumenta o tamanho */
}

/* Efeito de sublinhado animado */
.animated-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #2db84d;
    transition: width 0.3s; /* Animação para o sublinhado */
}

/* Ao passar o mouse, o sublinhado se expande */
.animated-link:hover::after {
    width: 100%; /* Expande o sublinhado do link */
}

/* Efeito ao clicar */
.animated-link:active {
    color: #17af03; /* Muda a cor ao clicar */
}
/*=======================================
                    Main
========================================*/

/* Estilo dos títulos */
h1, h2 {
    color:  #f56980;
    margin-bottom: 10px;
    font-weight: bolder;
}
h3{
    color: #8bbc5a;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin: 3vw 0 4vw 0;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 10vw 0 5vw 0;
}

h2 {
    font-size: 1.5rem;
}

/* Estilo dos parágrafos */
p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
}

/* Seção principal */

main {
    padding: 40px;
    background-color: #f7efda;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main section {
    margin-bottom: 40px;

}
main section h1 {
    margin: 5.5vw 0 0 0;
    font-weight: bolder;
    color: #e68176;
}

/*Carrosel*/
.textos{
    margin: 4vw 0 0 0;
}
.carrossel {
    display: flex;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: center;
  }

  .seta {
    font-size: 35px;
    cursor: pointer;
    user-select: none;
    color: #e68176;
    font-weight: bolder;
  }

  .texto {
    border: 20px solid #90c44d;
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 300px;
    max-width: 400px;
    text-align: justify;
    background-color: #D1F2A5;
    color: #161616;
  }

  .texto > div {
    display: none;
  }

  .texto > div.ativo {
    display: block;
  }

/*tabela*/

.tabela {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #D1F2A5;
}
th, td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #90c44d;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #e2f3d9;
}

td {
    font-weight: bold;
    color: #333;
}

section.tabela h2 {
    text-align: center;
    margin: 3vw 0 3vw 0;
    font-size: 30px;
}
section.tabela table{
    box-shadow: 0 7px 11px 0 rgb(61, 116, 47);
}

/*textos*/

section.textos h1 {
    text-align: center;
    margin: 10vw 0 5vw 0;
}
section.textos p {
    margin: 4vw 3vw 2vw 3vw;
    background-color: #ffccc3;
    border: 20px solid #e68176;
    padding: 2.2vw;
    border-radius: 50px;
    color: rgb(32, 32, 32);
    font-size: 19px;
}
section.textos h2 {
    text-align: center;
    margin: 6vw 0 2vw 0;
    font-size: 34px;
}
.conteudo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .conteudo.visivel {
    opacity: 1;
    transform: translateY(0);
  }
  .bloco {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
.container {
    opacity: 0;
    transform: translateY(50px);
  }

  .fade-in {
    animation: fadeIn 1s forwards ease-in-out;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*vitaminas*/

section.vitaminas h2 {
    text-align: center;
    margin: 5vw 0 2vw 0;
    font-size: 34px;
}
section.vitaminas ul li.um {
    width: 25%;
    background: linear-gradient(to right,#8bbc5a, #badd7f);
    margin: 1vw;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 5px 9px 0 rgb(84, 172, 91);
}
section.vitaminas ul li.dois {
    width: 25%;
    background: linear-gradient(to right, #e68176, #ffbaae);
    margin: 1vw;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 5px 9px 0 rgb(187, 77, 77);
}
section.vitaminas ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.vitaminas ul li h4 {
    text-align: center;
    margin: 1vw 0 2vw 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
section.vitaminas ul li p {
    margin: 0 1vw 0 1vw;
    color: black;
}

/*========================================
                Footer
========================================*/
/* Estilo do footer */
footer {
    background-color: #8bbc5a;
    color: rgb(0, 0, 0);
    padding: 2vw;
}

footer p {
    margin-bottom: 10px;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    margin: 1.5vw 10px;
}

footer nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #000000;
}




